<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.example.kanata-edx</string>

    <key>ProgramArguments</key>
    <array>
        <string>/run/current-system/sw/bin/kanata</string>
        <string>-c</string>
        <string>/Users/jchien/dotfiles/kanata/nix/keyboard-edx.kbd</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Library/Logs/Kanata/kanata-edx.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Library/Logs/Kanata/kanata-edx.err.log</string>
</dict>
</plist>