[user]
	name = JChien
	email = jeffchien13@gmail.com
[color]
	ui = auto
[push]
	default = upstream
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	filemode = false
	deltaBaseCacheLimit = 1G
[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	fl = log -u
	dr  = "!f() { git diff "$1"^.."$1"; }; f"
#[url "git@github.com:"]
#	insteadOf = https://github.com/
[credential]
	helper = cache --timeout=3600
