[submodule "awesome/.config/awesome/widgets/hints"]
	path = awesome/.config/awesome/widgets/hints
	url = https://github.com/gvalkov/hints
[submodule "awesome/.config/awesome/blingbling"]
	path = awesome/.config/awesome/blingbling
	url = git@github.com:JeffChien/blingbling.git
[submodule "rime/submodules/rime-flypyquick5"]
	path = rime/submodules/rime-flypyquick5
	url = git@github.com:JeffChien/rime-flypyquick5.git
