[submodule "zsh/.oh-my-zsh/custom/plugins/autosuggestions"]
	path = zsh/.oh-my-zsh/custom/plugins/autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-history-substring-search"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "awesome/.config/awesome/widgets/hints"]
	path = awesome/.config/awesome/widgets/hints
	url = https://github.com/gvalkov/hints
[submodule "awesome/.config/awesome/blingbling"]
	path = awesome/.config/awesome/blingbling
	url = git@github.com:JeffChien/blingbling.git
[submodule "rime/submodules/rime-flypyquick5"]
	path = rime/submodules/rime-flypyquick5
	url = git@github.com:JeffChien/rime-flypyquick5.git
