!-------------------------------Xterm------------------------------------------
xterm*faceName: Droid Sans Mono
xterm*faceNameDoublesize: WenQuanYi Zen Hei Mono
xterm*locale: zn_TW.UTF-8
xterm*utf8: 2
xterm*faceSize: 11
xterm*vt100*geometry: 80x60
xterm*saveLines: 16384
xterm*loginShell: true
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false

xterm*background: #101010
xterm*foreground: #d0d0d0
xterm*cursorColor: #d0d0d0
xterm*color0: #101010
xterm*color1: #960050
xterm*color2: #66aa11
xterm*color3: #c47f2c
xterm*color4: #30309b
xterm*color5: #7e40a5
xterm*color6: #3579a8
xterm*color7: #9999aa
xterm*color8: #303030
xterm*color9: #ff0090
xterm*color10: #80ff00
xterm*color11: #ffba68
xterm*color12: #5f5fee
xterm*color13: #bb88dd
xterm*color14: #4eb4fa
xterm*color15: #d0d0d0

QuakeConsoleNeedsUniqueName*faceName: Droid Sans Mono
QuakeConsoleNeedsUniqueName*faceNameDoublesize: WenQuanYi Zen Hei Mono
QuakeConsoleNeedsUniqueName*locale: zn_TW.UTF-8
QuakeConsoleNeedsUniqueName*utf8: 2
QuakeConsoleNeedsUniqueName*faceSize: 11
QuakeConsoleNeedsUniqueName*vt100*geometry: 80x60
QuakeConsoleNeedsUniqueName*saveLines: 16384
QuakeConsoleNeedsUniqueName*loginShell: true
QuakeConsoleNeedsUniqueName*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
QuakeConsoleNeedsUniqueName*termName: QuakeConsoleNeedsUniqueName-color
QuakeConsoleNeedsUniqueName*eightBitInput: false

QuakeConsoleNeedsUniqueName*background: #101010
QuakeConsoleNeedsUniqueName*foreground: #d0d0d0
QuakeConsoleNeedsUniqueName*cursorColor: #d0d0d0
QuakeConsoleNeedsUniqueName*color0: #101010
QuakeConsoleNeedsUniqueName*color1: #960050
QuakeConsoleNeedsUniqueName*color2: #66aa11
QuakeConsoleNeedsUniqueName*color3: #c47f2c
QuakeConsoleNeedsUniqueName*color4: #30309b
QuakeConsoleNeedsUniqueName*color5: #7e40a5
QuakeConsoleNeedsUniqueName*color6: #3579a8
QuakeConsoleNeedsUniqueName*color7: #9999aa
QuakeConsoleNeedsUniqueName*color8: #303030
QuakeConsoleNeedsUniqueName*color9: #ff0090
QuakeConsoleNeedsUniqueName*color10: #80ff00
QuakeConsoleNeedsUniqueName*color11: #ffba68
QuakeConsoleNeedsUniqueName*color12: #5f5fee
QuakeConsoleNeedsUniqueName*color13: #bb88dd
QuakeConsoleNeedsUniqueName*color14: #4eb4fa
QuakeConsoleNeedsUniqueName*color15: #d0d0d0
